
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
h2,h3{
    text-align: center;
    color: aliceblue;
     font-family: 'Lato', sans-serif;
    font-size:large;
}

 .all{
    background-color:darkgray;
    height:100vh;;
    margin-bottom: 60px;
    font-family: 'Noto Sans JP', sans-serif;
 }

 .new{
    color:black;
    font-size:25px;
    margin:40px;
    text-align: center;
 }
 .row{
     margin:40px;
 }

 .navbar-brand{
     text-align: center;
 }

 .navbar{
     background-color: black;
     padding:20px;
     margin-top:5px;
     font-family: 'Noto Sans JP', sans-serif;
 }


 .text-light{
     padding:20px;
     font-size: 20px;
 }

 .sign{
     margin-top:6px;
 }

 .login{

    background-color:red;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:20px;
 }

 .log{
     margin-top: 5px;
 }

 .register{
    
    background-color:aqua;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:20px;
 }

 .comment{

    background-color:red;
    font-size:20px;
 }

 